<footer>
    <div class="footer-section">
      <div class="footer-column">
        <h3>Corporate</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Corporate Governance</a></li>
          <li><a href="#">byd in the News</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">Explore Gift Cards</a></li>
          <li><a href="#">Buy in Bulk</a></li>
          <li><a href="#">Discover Our Brands</a></li>
          <li><a href="#">Check Out Bonhomie, Our Blog</a></li>
          <li><a href="#">Find a Store</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Partner With Us</h3>
        <ul>
          <li><a href="#">Sell on byd</a></li>
          <li><a href="#">Become a Franchisee</a></li>
          <li><a href="#">Become Our Channel Partner</a></li>
          <li><a href="#">Become Our Pep Homie</a></li>
          <li><a href="#">Merchant Dashboard Login</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Need Help?</h3>
        <ul>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Shop Built Safe Products</h3>
        <ul>
          <li><a href="#">Kids & Pet Friendly</a></li>
          <li><a href="#">Certified Non-Toxic</a></li>
          <li><a href="#">Made with Vegetarian Glue</a></li>
          <li><a href="#">Scratch Resistant Finish</a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <div class="social-links">
        <p>Like What You See? Follow us Here</p>
        <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
        <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
        <a href="#"><img src="pinterest-icon.png" alt="Pinterest"></a>
        <a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a>
        <a href="#"><img src="youtube-icon.png" alt="YouTube"></a>
      </div>
      <div class="payment-methods">
        <p>We accept</p>
        <img src="visa-icon.png" alt="Visa">
        <img src="mastercard-icon.png" alt="Mastercard">
        <img src="rupay-icon.png" alt="Rupay">
        <img src="wallet-icon.png" alt="Wallet">
      </div>
    </div>
  </footer>