<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8"> 
	<!-- Site Title -->
	<title>BUILD YOUR DREAM |Buy Modern Furniture Online</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/public/userAssets/css/linearicons.css">
	<link rel="stylesheet" href="/public/userAssets/css/owl.carousel.css">
	<link rel="stylesheet" href="/public/userAssets/css/themify-icons.css">
	<link rel="stylesheet" href="/public/userAssets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/userAssets/css/nice-select.css">
	<link rel="stylesheet" href="/public/userAssets/css/nouislider.min.css">
	<link rel="stylesheet" href="/public/userAssets/css/bootstrap.css">
	<link rel="stylesheet" href="/public/userAssets/css/main.css">
</head>

<body>

	<!-- Start Header Area --> 
	
	<%- include("../partials/userPartial/userHeader") %>
	<!-- End Header Area -->


	<!-- Start Banner Area -->
	<!-- <section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Login/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/public/userAssets/images/login.jpg" alt="">
						<div class="hover">
							<h4>BUILD YOUR DREAM</h4>
							<p>Transform your living space with furniture that blends elegance and comfort seamlessly. Discover premium designs crafted to turn your house into a home, adding luxury and durability to every corner. Complement your beautiful interiors with smart home appliances that redefine modern living. Simplify your daily chores with innovative technology that’s efficient, reliable, and built to last. Experience the perfect harmony of style and functionality – because your dream home deserves nothing less!</p>
							<!-- <a class="primary-btn" href="registration.html">Create an Account</a> -->
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner pt-5">
						<h3>forgot password</h3>
						<p><%= typeof message!=="undefined" ?message:"" %></p>
						<form method="post" action="/user/forgot" class="row login_form" autocomplete="off" id="signUp-form" >
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="email-adress" name="email" placeholder="email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'email address'">
							</div>
                           <div id="emailError" class="text-danger"></div>
							<div class="col-md-8 mt-3 ml-5 form-group">
								<button type="submit" id="btn-submit" value="submit" class="primary-btn mb-5">generate otp</button>
							</div>
						</form>
					</div>
				</div> 
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<!-- start footer Area -->
	<footer>
		<div class="footer-section">
		  <div class="footer-column">
			<h3>Corporate</h3>
			<ul>
			  <li><a href="#">About Us</a></li>
			  <li><a href="#">Corporate Governance</a></li>
			  <li><a href="#">Pepperfry in the News</a></li>
			  <li><a href="#">Careers</a></li>
			</ul>
		  </div>
		  <div class="footer-column">
			<h3>Useful Links</h3>
			<ul>
			  <li><a href="#">Explore Gift Cards</a></li>
			  <li><a href="#">Buy in Bulk</a></li>
			  <li><a href="#">Discover Our Brands</a></li>
			  <li><a href="#">Check Out Bonhomie, Our Blog</a></li>
			  <li><a href="#">Find a Store</a></li>
			</ul>
		  </div>
		  <div class="footer-column">
			<h3>Partner With Us</h3>
			<ul>
			  <li><a href="#">Sell on Pepperfry</a></li>
			  <li><a href="#">Become a Franchisee</a></li>
			  <li><a href="#">Become Our Channel Partner</a></li>
			  <li><a href="#">Become Our Pep Homie</a></li>
			  <li><a href="#">Merchant Dashboard Login</a></li>
			</ul>
		  </div>
		  <div class="footer-column">
			<h3>Need Help?</h3>
			<ul>
			  <li><a href="#">FAQs</a></li>
			  <li><a href="#">Policies</a></li>
			  <li><a href="#">Contact Us</a></li>
			</ul>
		  </div>
		  <div class="footer-column">
			<h3>Shop Built Safe Products</h3>
			<ul>
			  <li><a href="#">Kids & Pet Friendly</a></li>
			  <li><a href="#">Certified Non-Toxic</a></li>
			  <li><a href="#">Made with Vegetarian Glue</a></li>
			  <li><a href="#">Scratch Resistant Finish</a></li>
			</ul>
		  </div>
		</div>
	  
		<div class="footer-bottom">
		  <div class="social-links">
			<p>Like What You See? Follow us Here</p>
			<a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
			<a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
			<a href="#"><img src="pinterest-icon.png" alt="Pinterest"></a>
			<a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a>
			<a href="#"><img src="youtube-icon.png" alt="YouTube"></a>
		  </div>
		  <div class="payment-methods">
			<p>We accept</p>
			<img src="visa-icon.png" alt="Visa">
			<img src="mastercard-icon.png" alt="Mastercard">
			<img src="rupay-icon.png" alt="Rupay">
			<img src="wallet-icon.png" alt="Wallet">
		  </div>
		</div> 
	  </footer>
	  
	<!-- End footer Area -->

	<script src="/public/userAssets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/public/userAssets/js/vendor/bootstrap.min.js"></script>
	<script src="/public/userAssets/js/jquery.ajaxchimp.min.js"></script>
	<script src="/public/userAssets/js/jquery.nice-select.min.js"></script>
	<script src="/public/userAssets/js/jquery.sticky.js"></script>
	<script src="/public/userAssets/js/nouislider.min.js"></script>
	<script src="/public/userAssets/js/jquery.magnific-popup.min.js"></script>
	<script src="/public/userAssets/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	
	<script src="/public/userAssets/js/main.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



	<!-- validation
    <script>
    function formValidation() {

	}


	</script> -->
</body>

</html>