<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    .order-card {
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    .order-card .order-header {
        font-size: 1rem;
        color: #6c757d;
    }
    .order-card .order-details {
        font-size: 1.2rem;
        margin-top: 10px;
    }
    .order-card .order-details .price {
        color: #28a745;
    }
    .order-card .order-tracking {
        margin-top: 20px;
    }
    .order-card .progress {
        height: 10px;
    }
    .order-card .progress-bar {
        background-color: #007bff;
    }
    .order-card .btn {
        margin-right: 10px;
    }
    .order-card img {
        max-width: 100%;
        border-radius: 10px;
    }
    .order-card table {
        width: 100%;
        margin-top: 20px;
    }
    .order-card table img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
    }
    .order-card table th, .order-card table td {
        padding: 10px;
        text-align: center;
    }
</style>


</head>
<body>
    
    <div class="container mt-5">
        <div class="order-card">
            <div class="row">
                <div class="col-md-4">
                    <div class="order-header">

                        <div class="header-left col col-lg-auto mb-3">
                            <h1 class="header__heading mb-0">
                              <a href=" " class="header__heading-link d-flex" style="max-width: 150px">
                                <img class="header__heading-logo img-fluid"
                                  srcset="//vela-kazan.myshopify.com/cdn/shop/files/logo_dark.svg?v=1676480977&width=150 1x, //vela-kazan.myshopify.com/cdn/shop/files/logo_dark.svg?v=1676480977&width=409 2x"
                                  src="cdn/shop/files/logo_dark64cb.svg?v=1676480977&amp;width=150" loading="lazy" width="150"
                                  alt="Outstock"></a>
                            </h1>
                          </div>

                          
                        <p style="margin: 0;">OutStock Furniture PLDT</p>
                        <p style="margin: 0;">Email : outstock@gmail.com</p>
                        <p style="margin: 0;">contact: 9876543210</p>

                        
                        <span>Order ID : <span class="text-dark" style="font-weight: 600;"><%= order.orderId %></span></span><br>
                        <span>Placed On : <%= new Date(order.orderDate).toLocaleDateString('en-US', {
                            weekday: 'short',
                            month: 'short',
                            day: 'numeric',
                            year: 'numeric'
                        }) %></span>
                    </div>
                    <div class="order-details">

                        <% if (order.offerDetails && order.couponDetails) { %>
                            <p style="font-size: 12px; margin: 0%;">Discount : <span class="price"><%= (order.offerDetails.discount || 0) + (order.couponDetails.discount || 0) %></span>
                                <% } else if (order.offerDetails) { %>
                            <p style="font-size: 12px; margin: 0%;">Discount : <span class="price"><%= order.offerDetails.discount %></span> 
                                 <% } else if (order.couponDetails) { %>
                            <p style="font-size: 12px; margin: 0%;">Discount : <span class="price"><%= order.couponDetails.discount %></span> 
                                        <% } else { %>
                            <p style="font-size: 12px; margin: 0%;">Discount : <span class="price">00</span> 
                                            <% } %>
                            <p style="font-size: 12px; margin: 0%;">shipping charge : <span class="price">100</span> 
                              
                        <h6 class="price">₹ <%= order.totalPrice %> <small>: <%= order.paymentMethod %></small></h6>
                        <p>Tracking Status : <span class="price"><%= order.orderStatus %></span> <br><br>
                            <span class="badge badge-info"></span></p>
                           

                            
                            <div class="container mt-5">
                                
                                <% if (order.orderStatus === 'Pending') {%>
                                    <button type="button" onclick="reStartRazorpayPayment('<%= user._id %>','<%= order._id %>')" class="btn btn-warning mt-3" id="razorpay-btn"> <i class="fas fa-redo"></i> Retry Payment</button>
                               <% } %>
                            
                                <% if (order.orderStatus === 'Processing' || order.orderStatus === 'Shipped' || order.orderStatus === 'Delivered') { %>
                                    <button class="btn btn-success" onclick="downloadInvoice('<%= order._id %>')">
                                        <i class="fas fa-download"></i> Download Invoice
                                    </button>
                                <% } %>
                            </div>
                            


                    </div>
                </div>
                <div class="col-md-4">
                    <h4>ADDRESS</h4>
                    <p>Email : <span><%= order.address.email %></span></p>
                    <p>Name : <%= order.address.userName %></p>
                    <p>Phone Number : <%= order.address.phone %></p>
                    <p>Address : <%= order.address.address %></p>
                    <p>Landmark : <%= order.address.landmark %></p>
                    <p>Pincode : <%= order.address.pincode %></p>
                </div>
                <div class="col-md-4">
                    <h4>Order Items</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.orderItem.forEach(item => { %>
                            <tr>
                                <td><img src="/upload/product/<%=item.images[0] %>" alt="<%= item.productName %>"></td>
                                <td><%= item.productName %></td>
                                <td><%= item.quantity %></td>
                                <td>₹ <%= item.price %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>

            
            <div class="mt-3 d-flex justify-content-between align-items-start">
                <% if (order.orderStatus === 'Processing' || order.orderStatus === 'Shipped') { %>
                    <button class="btn btn-danger mb-2" onclick="confirmCancelOrder('<%= order._id %>', 'Cancelled')">Cancel</button>
                <% } else if (order.orderStatus === 'Delivered') { %>
                    <div class="return-section d-flex flex-column">
                        <button class="btn btn-warning mb-2 w-25" onclick="submitReturnRequest('<%= order._id %>','<%= user.id %>')">Return</button>
                        <div class="form-group">
                            <label for="returnReason" class="form-label">Select Reason for Return:</label>
                            <select name="returnReason" id="returnReason" class="form-select" required>
                                <option value="">Select</option>
                                <option value="Defective or Damaged Product">Defective or Damaged Product</option>
                                <option value="Received Wrong Item">Received Wrong Item</option>
                                <option value="Product Not as Described">Product Not as Described</option>
                                <option value="Better Price Available">Better Price Available</option>
                                <option value="Quality Not as Expected">Quality Not as Expected</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                <% } %>
            </div>
            


                <div class="container">
                    <div class="vela-breadcrumbs__inner align-items-center flex-column" aria-label="breadcrumb">
                      <ol class="breadcrumb m-0" itemscope itemtype="http://schema.org/BreadcrumbList">
            
                        
                        <!-- Home breadcrumb -->
                        <li class="breadcrumb-item breadcrumb__item" itemprop="itemListElement" itemscope
                          itemtype="http://schema.org/ListItem">
                          <a class="breadcrumb__link" href="../home" title="Home" itemprop="item">
                            <span itemprop="name">Home</span>
                          </a>
                          <meta itemprop="position" content="1" />
                        </li>
            
                        <!-- Profile breadcrumb -->
                        <li class="breadcrumb-item breadcrumb__item" itemprop="itemListElement" itemscope
                          itemtype="http://schema.org/ListItem">
                          <a class="breadcrumb__link" href="../orders?id=<%=user.id %>" title="Profile" itemprop="item">
                            <span itemprop="name">Your Orders</span>
                          </a>
                          <meta itemprop="position" content="2" />
                        </li>
            
            
                      </ol>
                    </div>
                  </div>
            
                </div>



            </div>
        </div>
    </div>
    
    <script>
        function downloadInvoice(orderId) {
            const invoiceUrl = `/download-invoice/${orderId}`;
            window.location.href = invoiceUrl; 
        }
    
    </script>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>



<script>

async function reStartRazorpayPayment(userId, orderId) {
        try {
            const response = await fetch(`/retryCreate-order?userId=${userId}&orderId=${orderId}`);
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const orderData = await response.json();
            if (!orderData.order_id) {
                Swal.fire({
                    icon: "error",
                    title: "Payment Error",
                    text: "Could not initiate payment. Please try again.",
                });
                return;
            }

            const options = {
                key: orderData.key_id,
                amount: orderData.amount,
                currency: "INR",
                name: "OutStock PLTD",
                description: "Test Transaction",
                order_id: orderData.order_id,
                handler: function (response) {
                    const data = {
                        orderCreationId: orderData.order_id,
                        razorpayPaymentId: response.razorpay_payment_id,
                        razorpayOrderId: response.razorpay_order_id,
                        razorpaySignature: response.razorpay_signature,
                        userId: userId,
                    };

                    fetch(`/verify-repayment?orderId=${orderData.savedOrderId}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(data),
                    })
                    .then(result => result.json())
                    .then(resultData => {
                        if (resultData.success) {
                            window.location.href = `/tracking-order?orderId=${orderData.savedOrderId}&userId=${userId}`;
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Payment Failed",
                                text: "Payment verification failed. Please try again.",
                            }).then(() => {
                                window.location.href = `/tracking-order?orderId=${orderData.savedOrderId}&userId=${userId}`;
                            });
                        }
                    });
                },
                prefill: {
                    name: "<%= user.firstName %>",
                    email: "<%= user.email %>",
                    contact: "<%= user.phone %>",
                },
                notes: {
                    address: "<%= user.address %>",
                },
                theme: {
                    color: "#3399cc",
                },
                modal: {
                    ondismiss: function () {
                        Swal.fire({
                            icon: "error",
                            title: "Payment Cancelled",
                            text: "Payment process was cancelled. You will be redirected to track your order.",
                        }).then(() => {
                            window.location.href = `/tracking-order?orderId=${orderData.savedOrderId}&userId=${userId}`;
                        });
                    }
                }
            };

            const paymentObject = new Razorpay(options);
            paymentObject.open();

        } catch (error) {
            console.error("Error starting Razorpay payment:", error);
        }
    }

</script>

<script src="/js/cancelAndReturn.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>